body {
    width: 420px;
    height: 50vh;
    margin: 10px auto;
    background-color: #caf0f8;
    font-family: Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
}
textarea{
    min-width:400px;
    max-width: 400px;
    max-height: 200px;
    min-height: 200px;
    background-color: #fff;
    color: #33415c;
    font-size: 1.8rem;
    line-height: 1.9rem;
    border-radius:20px;
    padding: 15px 15px 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
textarea::placeholder {
    color:#7d8597;
}

#counterFooter {
    display: flex;
    margin: 0;
    margin-top: .3em;
    margin-left: -10px;
    padding: 0;
    text-align: left;
    font-size: 1.8rem;
}

.white {
    width: 3px;
    height: 3px;
    background: #fff;
}

.green {
    background: #40916c;
}

.yellow {
    background: #ffd500;
}

.red {
    background: #d90429;
}

button {
    width: 130px;
    text-align: center;
    background-color: #4895ef; 
    border-radius: 50px;
    border: none;
    outline: none;
    
    margin: 8px 0 0 270px;
    cursor: pointer;
}

button:hover,
button:focus {
    background: #4361ee;
}

button h2 {
    color: #fff;
}

.buttonDisabled {
    background: #7d8597;
    opacity: .5;
    cursor: default;
}

.buttonDisabled:hover,
.buttonDisabled:focus {
    background: #979dac;
}
